{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href=" {%  static  "img/favicon.png" %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href=" {% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href=" {% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href=" {% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href=" {% static 'css/animate.css' %}">
    <link rel="stylesheet" href=" {% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href=" {% static 'css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
      <!-- header-start -->
    {% load static %}
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src= "{%static "img/logo.png" %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'index'  %}">Home</a></li>
                                        <!-- only for docs
                                        <li><a class="active" href="Leave.html">Leaves</a></li>
                                        -->
                                        {% if user.is_authenticated  %}
                                        <li>< Hello, {{ user.username }}></li>
                                        {% if user.last_name == "Employee" %}
                                            <li><a href= {% url 'view_appoint' %}>Booked Appointments</a></li>
                                        {% else %}
                                            <li><a href= {% url 'view_leave' %}>Applied Leaves</a></li>
                                        {% endif %}
                                        <li><a href= {% url 'logout' %}>Logout</a></li>
                                        {% else %}
                                        <li><a href= {%  url 'login' %}>Login</a></li>
                                         <li><a href={% url 'register'  %}>Register</a></li>
                                        {% endif %}



                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- For employees only.-->
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    {% if user.last_name == "Employee" %}
                                        <a href="{% url 'book_appoint' %}">Book an Appointment</a>
                                    {% else %}
                                        <li><a href= {% url 'apply_leave' %}>Apply for a leave</a></li>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">
            {% if user.is_authenticated and user.last_name == "Employee" %}
            <h3 class="mb-30"><div style="text-align: center;"> PRESENT SCHEDULE </div></h3>

            <!--Start Form-->
			<div class="section-top-border">
				<div class="row">
                    <form action="book_appoint" method="POST">
                        {% csrf_token %}
                        <div class="single-element-widget mt-30">
                            <div class="default-select" id="default-select">
                            <select name = "filter">
                                <option value="0">Orthopaedics</option>
                                <option value="1">Gynaecology</option>
                                <option value="2">ENT</option>
                                <option value="3">Medicine</option>
                                <option value="4">Psychology</option>
                                <option value="5">Dermatology</option>

                            </select>
                        </div>

                        <br>
                        <div class="button-group-area mt-40">
                            <input class="genric-btn info circle" type="submit" value="Filter">
                        </div>
						</form>
					</div>
				</div>
			</div>
			<!--End Form-->
            <div class="typography">
                <h2> Day and Date</h2>
            </div>
			<div class="section-top-border">
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
                            <div class="serial"> # </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbs
							<div class="country">Speciality</div>
							<div class="country">Doctor Name</div>
							<div class="visit">Shift-1(0800 - 1100)</div>
							<div class="visit">Shift-2(1300 - 1600)</div>
							<div class="visit">Shift-3(1800 - 2100)</div>
						</div>
                        {% for item in query %}
						<div class="table-row">
                            <div class="serial"> {{ forloop.counter }} </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="country">{{ item.doc.dept.deptname }} </div>
							<div class="country"> {{ item.doc.docname }}</div>
                            {% if item.shift1 == True %}
							    <div class="visit"> Availaible </div>
                            {% else %}
                                <div class="visit"> -/- </div>
                            {% endif %}
                            {% if item.shift2 == True %}
							    <div class="visit"> Availaible </div>
                            {% else %}
                                <div class="visit"> -/- </div>
                            {% endif %}
                            {% if item.shift3 == True %}
							    <div class="visit"> Availaible </div>
                            {% else %}
                                <div class="visit"> -/- </div>
                            {% endif %}
						</div>
                        {% endfor %}

					</div>
				</div>
			</div>

            <!--Table number buttons-->
            <div style="text-align: center;">
                <div class="button-group-area mt-10">
                    <h3> Days </h3>
                    <a href="{% url 'filter_d1' %}" class="genric-btn info-border circle">1</a>
                    <a href="{% url 'filter_d2' %}" class="genric-btn info-border circle">2</a>
                    <a href="{% url 'filter_d3' %}" class="genric-btn info-border circle">3</a>
                    <a href="{% url 'filter_d4' %}" class="genric-btn info-border circle">4</a>
                    <a href="{% url 'filter_d5' %}" class="genric-btn info-border circle">5</a>
                    <a href="{% url 'filter_d6' %}" class="genric-btn info-border circle">6</a>
                </div>
            </div>

			<!--Start Form-->
			<div class="section-top-border">
				<div class="row">
                    <form action="book_appoint" method="POST">
                     {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% csrf_token %}
                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Doctor Name</h3>
                            <div class="default-select" id="default-select"">
                                <select name = "docId">
                                    {% for item in query %}
                                    <option value= {{ item.doc.docid }} >{{ item.doc.docname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Date</h3>
                            <div class="default-select" id="default-select"">
                                <select name = "date">
                                    {% for item in DateList1 %}
                                        <option value= 1 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList2 %}
                                        <option value= 2 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList3 %}
                                        <option value= 3 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList4 %}
                                        <option value= 4 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList5 %}
                                        <option value= 5 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList6 %}
                                        <option value= 6 >{{ item }}</option>
                                    {% endfor %}
                                    {% for item in DateList7 %}
                                        <option value= 7 >{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Timing</h3>
                            <div class="default-select" id="default-select"">
                                <select name = "time">
                                    <option value="0">8:00 - 11:00</option>
                                    <option value="1">13:00 - 16:00</option>
                                    <option value="2">18:00 - 21:00</option>
                                </select>
                            </div>
                        </div>

                        <div class="single-element-widget mt-30">
                            <h3 class="mb-30">Patient Name</h3>
                            <div class="default-select" id="default-select">
                                <select name = "patient" >
                                    {%  for i in query2 %}
                                    <option value= {{ i.depid }}> {{ i.depname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <br><br>

                        <div class="switch-wrap d-flex justify-content-between">
								<p>Consider booking for slot upgrade</p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="confirm-switch">
									<input type="checkbox" id="confirm-switch" name="upgrade" checked>
									<label for="confirm-switch"></label>
								</div>
                        </div>
                        <br>
                        <div class="button-group-area mt-40">
                            <input class="genric-btn info circle" type="submit" value="submit">
                        </div>


						</form>
					</div>
				</div>
			</div>
			<!--End Form-->
            {% else %}
                <br><br><br><br><br><br><br><br><br><br><br>
                <div style="text-align: center;">
                    <div class="typography">

                        <h1> Please Login First</h1>
                    </div>
                </div>
            {% endif %}
		</div>
	</div>
	<!-- End Align Area -->
 <!-- JS here -->
    {% block extrascripts %}
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    {% endblock %}
</body>

</html>