{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Docmed</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href=" {%  static  "img/favicon.png" %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href=" {% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href=" {% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href=" {% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href=" {% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href=" {% static 'css/animate.css' %}">
    <link rel="stylesheet" href=" {% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href=" {% static 'css/responsive.css' %}"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
      <!-- header-start -->
    {% load static %}
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src= "{%static "img/logo.png" %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'index'  %}">Home</a></li>
                                        <!-- only for docs
                                        <li><a class="active" href="Leave.html">Leaves</a></li>
                                        -->
                                        {% if user.is_authenticated  %}
                                        <li>< Hello, {{ user.username }}></li>
                                        <li><a href= {% url 'view_appoint' %}>Booked Appointments</a></li>
                                        <li><a href= {% url 'logout' %}>Logout</a></li>
                                        {% else %}
                                        <li><a href= {%  url 'login' %}>Login</a></li>
                                         <li><a href={% url 'register'  %}>Register</a></li>
                                        {% endif %}



                                    </ul>
                                </nav>
                            </div>
                        </div>
                        {% if user.is_authenticated  %}
                        <!-- For employees only.-->
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <!--for employees-->
                                    <a href="{% url 'book_appoint' %}">Book an Appointment</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <!-- Start Align Area -->
	<div class="whole-wrap">
		<div class="container box_1170">

            {% if user.is_authenticated  %}
            <div class="typography">
                <h2> Applied Leaves</h2>
            </div>

			<div class="section-top-border">
				<div class="progress-table-wrap">
					<div class="progress-table">
						<div class="table-head">
                            <div class="serial"> # </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="country">Date</div>
							<div class="country">Shift#</div>
							<div class="visit">Status</div>
						</div>
					</div>
				</div>
			</div>
            {% else %}
                <br><br><br><br><br><br><br><br><br><br><br>
                <div style="text-align: center;">
                    <div class="typography">
                        <h1> Please Login First</h1>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>
</body>


<!-- JS here -->
    {% block extrascripts %}
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    $(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
    </script>
    {% endblock %}
</body>

</html>